/* Import Tailwind CSS */
@import "tailwindcss";

/* Define CSS custom properties for light and dark modes */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Define Tailwind CSS theme customizations */
@theme {
  --color-lightHover: "#fcf4ff";
  --color-darkHover: "#2a004a";
  --color-darkTheme: "#11001f";
  --font-Ovo: "Ovo", serif;
  --font-Outfit: "Outfit", sans-serif;
  --font-display: "Outfit", "Ovo", sans-serif;
}

/* Apply custom properties to body */
body {
  color: var(--color-foreground);
  font-family: var(--font-outfit);
}
